
@{
    ViewBag.Title = "Chart";
}

<h2>Chart</h2>
<div id="humidity" style="width: 90%; height: 25%;"></div>
<div id="temperature" style="width: 90%; height: 25%;"></div>
<div id="light" style="width: 90%; height: 25%;"></div>

<script src="~/Scripts/Views/SensorReadingCharts.js"></script>