@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This Web Application was created and driven by motivation of the 2016-2017 <b>Microsoft Imagine Cup Competition</b>
    Our idea for the project was to help automate Jesse's Orchidarium and in the process create something that even other
    people can use and benefit from.</p>
<h3>Project Idea</h3>
<p>Making household gardening less arduous for the comman man. Bridging the gap between those who know how to grow
    exotic plants in their homes and those who would love to if only they knew where to start and how to put it into
    practice. Our idea is trying to solve <b>Ease of Household Plant Growth and Healthy Upekeep</b></p>
