@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    University of Wisconsin La Crosse<br />
    1725 State St
    La Crosse, WI 54601<br />
    <abbr title="Phone">P:</abbr>
    612.876.1409
</address>

<address>
    <strong>Software Support:</strong>   <a href="mailto:baklund.zachary@uwlax.edu">baklund.zachary@uwlax.edu</a><br />
    <strong>Hardware Support:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>