@{
    ViewBag.Title = "Contact";
}
<h2 style="color:darkgreen">@ViewBag.Title.</h2>
<h3 style="color:sandybrown">@ViewBag.Message</h3>

<address>
    University of Wisconsin La Crosse<br />
    1725 State St
    La Crosse, WI 54601<br />
</address>

<address>
    <strong>Software Support:</strong>   <a href="mailto:baklund.zachary@uwlax.edu">baklund.zachary@uwlax.edu</a><br />
    <strong>Hardware Support:</strong> <a href="mailto:jesse.dahir-kanehl@studentpartner.com">jesse.dahir-kanehl@studentpartner.com</a>
</address>