@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="color:darkgreen">Plant.Watcher.bot</h1>
    <p class="lead">Making household gardening and indoor plantgrowth easier from all of your favorite devices. Our web app lets you add, edit, change,
            and monitor as many or as few plants as you like. </p>
    <p><a href="~/SensorReadings/chart" class="btn btn-primary btn-lg">View Plant Activity &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="color:sandybrown">Getting started</h2>
        <p> This web app helps you put into practice growing any and all types
        of plants. We designed this webpage to help ease people into more interesting and exotic plant life.
        </p>
        <p><a class="btn btn-default" href="http://www.wikihow.com/Care-for-Your-Plants">Learn more about plant upkeep&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:sandybrown">Get more out of Plant.Watcher.bot</h2>
        <p>The best way to utilize our service with this web app is to connect up devices to a micro cpu and feed data from that
        into a database for the web app to view so that it may auto adjust devices even when you're not online</p>
        <ul><b>Some items you may want to acquire</b></ul>
        <ul>Temperature/Humidity Sensor</ul>
        <ul>Light Sensor</ul>
        <ul>Soil moisture measurer</ul>
        <ul>Humidifiers</ul>
        <ul>Fans</ul>
        <ul>Lights</ul>
        <ul>Micro CPU (Raspberry Pi)</ul>
        <p><a class="btn btn-default" href="http://www.imore.com/how-get-started-using-raspberry-pi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="color:sandybrown">Plant.Watcher.bot in Action</h2>
        <img src="~/orchidarium.jpg" alt="Our house garden" style="width:350px;height:400px;" />
        <p>As you can see Jesse's setup for his house plants is quite involved. This is because he grows Orchids.
        These type of plants require the right conditions to grow and thrive in. Usually these conditions are not 
        available outside of the tropics.</p>
    </div>
</div>