@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Plant.Watcher.bot</h1>
    <p class="lead">Making household gardening and indoor plantgrowth easier from all of your favorite devices. Our web app lets you add, edit, change,
            and monitor as many or as few plants as you like. </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p> This web app helps you put into practice growing any and all types
        of plants. We designed this webpage to help ease people into more interesting and exotic plant life.
        </p>
        <p><a class="btn btn-default" href="http://www.wikihow.com/Care-for-Your-Plants">Learn more about plant upkeep&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more out of Plant.Watcher.bot</h2>
        <p>The best way to utilize our service with this web app is to connect up devices to a micro cpu and feed data from that
        into a database for the web app to view so that it may auto adjust devices even when you're not online</p>
        <ul><b>Some items you may want to acquire</b></ul>
        <ul>Temperature/Humidity Sensor</ul>
        <ul>Light Sensor</ul>
        <ul>Soil moisture measurer</ul>
        <ul>Humidifiers</ul>
        <ul>Fans</ul>
        <ul>Lights</ul>
        <ul>Micro CPU (Raspberry Pi)</ul>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>